apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-diplom-app
  namespace: cicd
spec:
  replicas: 2
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: devops-diplom-app
  template:
    metadata:
      labels:
        app: devops-diplom-app
    spec:
      containers:
        - name: app
          image: dummy
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "CI/CD test container started";
              sleep infinity
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
